.content h1 {
	color: #091E42;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.5rem;
	margin-bottom: 1rem;
}

.content h2 {
	color: #091E42;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.content p {
	color: #505F79;
	font-family: 'Public Sans', sans-serif;
	font-size: 1.125rem;
	line-height: 1.75rem;
	margin-bottom: 1rem;
}

.content p a {
	text-decoration: underline;
}

.content ol li {
	color: #505F79;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	list-style-type: decimal;
	margin-left: 1rem;
}

.content ul li {
	color: #505F79;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	list-style-type: square;
	margin-left: 1rem;
}