.content h1 {
	color: #2D3F89;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.content h2 {
	color: #2D3F89;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.content p {
	color: #535568;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.content p a {
	text-decoration: underline;
}

.content ol li {
	color: #535568;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	list-style-type: decimal;
	margin-left: 1rem;
}

.content ul li {
	color: #535568;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	list-style-type: square;
	margin-left: 1rem;
}